[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
bs4 = "*"
pillow = "*"
lxml = "*"
reuqests = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.6"
